<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <style>
    li {
      margin: 10px;
    }

    #btns {
      display: none;
    }

    h1 {
      margin: 100px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="logged-homepage-image" class="navbar-brand" href="/">
      <img src="https://avatars2.githubusercontent.com/u/47926996?s=200&v=4" width="30" height="30"
        class="d-inline-block align-top" alt="">
      Midas
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a id="logged-homepage" class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a id="logged-username" class="nav-item nav-link" href="/">Logged in as: </a>
      </div>
    </div>
  </nav>

  <!-- <div 
      id="user-name"
      style="margin: 20px"
      class="jumbotron bg-white"
    >
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button id="usernameInput" class="btn btn-outline-secondary" type="button">Save Username</button>
      </div>
      <input id="usernametext" type="text" class="form-control">
    </div>
    </div> -->

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Remaining annotations ({{not_done_rows_len}} / {{len_total}})
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table table-hover dark">
            <thead align="center">
              <tr>
                <th scope="col">#</th>
                <th scope="col">QuestionID</th>
                <th scope="col">Category</th>
                <th scope="col">Sample Answer</th>
              </tr>
            </thead>
            <tbody>
              {% for each in not_done_rows %}
              <tr class="clickable text-center" onclick="window.location='/item/{{ each[0] }}'">
                <td id='index'>{{ each[0] }}</td>
                <td id='QuestionID'>{{ each[1] }}</td>
                <td id='Category'>{{ each[2] }}</td>
                <td id='Sample Answer'>{{ each[3] }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Done Annotations ({{done_rows_len}} / {{len_total}})
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table table-hover dark">
            <thead align="center">
              <tr>
                <th scope="col">#</th>
                <th scope="col">QuestionID</th>
                <th scope="col">Category</th>
                <th scope="col">Sample Answer</th>
              </tr>
            </thead>
            <tbody>
              {% for each in done_rows %}
              <tr class="text-center">
                <td id='index'>{{ each[0] }}</td>
                <td id='QuestionID'>{{ each[1] }}</td>
                <td id='Category'>{{ each[2] }}</td>
                <td id='Sample Answer'>{{ each[3] }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  </div>
  <script>
    function setCookie(name, value, days) {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }
    function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
    }
    function eraseCookie(name) {
      document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
    let id = val => document.getElementById(val);
    // update the navbar
    username = getCookie("midas-username");
    loggedUsername = id('logged-username');
    loggedHomepageImage = id('logged-homepage-image');
    loggedHomepage = id('logged-homepage');
    loggedUsername.innerText = `Logged in as: ${username}`
    loggedHomepage.href = `/home/${username}`
    loggedHomepageImage.href = `/home/${username}`
  </script>
  <!-- jQuery and JS bundle w/ Popper.js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
</body>

</html>